<ul>
	<li><%= link_to 'Home', :controller => "videos" %></li> 
	<li><%= link_to 'Videos', :controller => "categories" %></li> 
	<li><a>Friends</a></li>
	<li><a><strong>Upload video</strong></a></li>
</ul>